.App {
  text-align: center;
}

.cardBox {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

ul {
  list-style: none;
}

.nav ul {
  display: flex;
  gap: 15px;
  margin: 0;
}
.card__wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}
.card {
  max-width: 350px;
  text-align: center;
  border: 2px solid grey;
  position: relative;
}
.card img {
  width: 100%;
  object-fit: cover;
}
.card p {
  margin-bottom: 40px;
}
.info__btn {
  position: absolute;
  bottom: 5px;
  right: 50%;
  transform: translateX(50%);
  border-radius: 10px;
  border-style: ridge;
  padding: 2px 20px;
}
.single__card {
  margin: auto;
}
